.git
.github
.DS_Store

**/node_modules
**/npm-debug.log*
**/.vite
**/dist

backend-node/data
backend-node/deploy-pack
logs
data
server

desktop/dist
desktop/backend-app-secure
desktop/release-icon-test
desktop/release-icon-test-7

example_drama
项目截图
参考前端
.cursor
.opencode
.trae
